{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}{% include 'unapproved_webmentions_notification.html' %}
    {% if user.is_superuser %}<div class="admin-header"><a href="{% url 'admin:my_app_mentionableexample_change' article.id %}">edit</a></div>{% endif %}

    <section class="card">
        <h1>{{ article.title }}</h1>
        {% if article.summary %}<div class="article-summary">{{ article.summary }}</div>{% endif %}
        <main>
            <article class="article-content">{{ article.main_content | safe }}</article>
        </main>
    </section>

    {% if temporary_mentions %}
    <section class="card">
        <h3>Temporary mentions</h3>
        <p>If you have submitted a link it will appear here to help you test your server. Links expire after 15 minutes but feel free to resubmit if you need to.</p>
        {% for wm in temporary_mentions %}
        <div class="temp-link"><a href="{{ wm.url }}">{{ wm.url }}</a></div>
        {% endfor %}
        <p></p>
    </section>
    {% endif %}

    {% if article.mentions %}
    <section class="webmentions">
        <h3>This page has been mentioned by:</h3>
        <div class="hor-wrap">
            {% for wm in article.mentions %}
            {% ifchanged %}{% include 'webmention.html' %}{%  endifchanged %}
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock %}
