{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include 'unapproved_webmentions_notification.html' %}
    <div class="card">
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-summary">{{ article.summary }}</div>
        <div class="article-content">{{ article.main_content | safe }}</div>
    </div>
    {% if temporary_mentions %}
    <div class="card">
        <h2>Temporary mentions:</h2>
        If you have submitted a link it will appear here for 15 minutes to help you test your server.
        {% for wm in temporary_mentions %}
        <div class="temp-link"><a href="{{ wm.url }}">{{ wm.url }}</a></div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="webmentions">
        <h2>This page has been mentioned:</h2>
        {% for wm in article.mentions %}
        <div class="wm card">
            <div class="wm-hcard hor">
                <div class="hcard-avatar" style="background-image: url('{{ wm.hcard.avatar }}');"></div>
                <div class="hcard-text">
                    <div class="hcard-name">{{ wm.hcard.name }}</div>
                    <div class="wm-source-url"><a href="{{ wm.source_url }}">{{ wm.source_url }}</a></div>
                </div>
            </div>
        </div>
        {% empty %}
        <div>No webmentions!</div>
        {% endfor %}
    </div>
    <footer>
        Source for this site is available on <a href="https://github.com/beatonma/django-wm-example">Github</a>
    </footer>
</body>

</html>