{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}{% include 'unapproved_webmentions_notification.html' %}
    {% if user.is_superuser %}<div class="admin-header"><a href="{% url 'admin:my_app_mentionableexample_change' article.id %}">edit</a></div>{% endif %}

    <section class="card">
        <h1>{{ article.title }}</h1>
        {% if article.summary %}<div class="article-summary">{{ article.summary }}</div>{% endif %}
        <main>
            <article class="article-content">{{ article.main_content | safe }}</article>
        </main>
    </section>

    {% if temporary_mentions %}
    <section class="card">
        <h3>Temporary mentions</h3>
        <p>If you have submitted a link it will appear here to help you test your server. Links expire after 15 minutes but feel free to resubmit if you need to.</p>
        <div class="hor-wrap">
            {% for wm in temporary_mentions %}
            <a class="temp-link" title="{{ wm.url }}" href="{{ wm.url }}">
                {% if wm.outgoing_status.successful is True %}<span title="Accepted by target server" class="status-icon status-accepted">&#x2714;</span>
                {% elif wm.outgoing_status.successful is False %}<span title="Rejected by target server" class="status-icon status-rejected">&#x2716;</span>
                {% else %}<span title="Status unknown" class="status-icon status-unknown">?</span>
                {% endif %}
                {{ wm.url }}
                {% if wm.outgoing_status.successful is True %}<div title="Accepted by target server" class="status-message status status-accepted">Accepted by target server</div>
                {% elif wm.outgoing_status.successful is False %}<div title="Rejected by target server" class="status-message status status-rejected">Rejected by target server</div>
                {% else %}<div title="Status unknown" class="status-message status status-unknown">Status unknown</div>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        <p></p>
    </section>
    {% endif %}

    {% if article.mentions %}
    <section class="webmentions">
        <h3>This page has been mentioned by:</h3>
        <div class="hor-wrap">
            {% for wm in article.mentions %}
            {% ifchanged %}{% include 'webmention.html' %}{%  endifchanged %}
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock %}
