<div class="wm card h-card">
    <div class="wm-hcard hor">
        <div class="hcard-avatar" title="{{ wm.hcard.name|default:"No image available" }}" style="background-image: url('{{ wm.hcard.avatar|default:"/static/images/missing.png" }}');"></div>
        <div class="hcard-text">
            <div class="hcard-name p-name">{{ wm.hcard.name|default:'anonymous' }}</div>
            <div class="wm-source-url u-url"><a href="{{ wm.source_url }}">{{ wm.source_url }}</a></div>
        </div>
    </div>
</div>
